<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="alternate" type="application/atom+xml" href="/rss.xml" />
    <link rel="shortcut icon" href="./favicon.ico">

    $for(author-meta)$
      <meta name="author" content="$author-meta$" />
    $endfor$ 

    $if(date-meta)$
      <meta name="dcterms.date" content="$date-meta$" />
    $endif$ 

    $if(keywords)$
      <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
    $endif$

    $if(description-meta)$
      <meta name="description" content="$description-meta$" />
    $endif$

    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>

    $for(css)$
      <link rel="stylesheet" href="$css$" />
    $endfor$

    $for(header-includes)$ $header-includes$ $endfor$
  </head>

  <body>
    <header>
      <p class="site-title">
        <a href="/"> #StandWithPalestine </a>
      </p>
      <nav class="nav">
        <ul>
          <li><a href="/"> /Home </a></li>
          <li><a href="/rss.xml"> /rss </a></li>
        </ul>
      </nav>
    </header>

    <main>
      $for(include-before)$
        $include-before$ 
      $endfor$ 

      $if(date)$
        <time datetime="$date$">$date$</time>
      $endif$

      $body$

      $for(include-after)$
        $include-after$ 
      $endfor$
    </main>

    <footer>

      © <a href="/"> standswithpalestine.vercel.app </a>
    </footer>

    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
